@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
li, a {
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
}

.nav_link li{
    display: inline-block;
    padding: 0 10px;
    color: white;
}
.nav_link li a{
    transition: all 0.3s ease 0s;
}
.nav_link li a:hover{
    color:#A08D14;
}
.logo{
    margin-right: auto;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 15%;
    background-color:#145DA0;
}